{#
/**
 * @file
 * Template for deployment log page.
 *
 * Available variables:
 * - statistics: Statistics summary render array.
 * - filter_form: Filter form render array.
 * - logs_table: Logs table render array.
 * - pager: Pager render array.
 * - bulk_actions: Bulk actions render array.
 */
#}
<div class="deployment-log-wrapper">

  {% if statistics %}
    {{ statistics }}
  {% endif %}

  <div class="deployment-log-content">
    <div class="deployment-log-toolbar">
      {% if filter_form %}
        <div class="filters-wrapper">
          <form method="get" class="deployment-log-filter-form">
            {{ filter_form }}
          </form>
        </div>
      {% endif %}

      {% if bulk_actions %}
        <div class="bulk-actions-wrapper">
          {{ bulk_actions }}
        </div>
      {% endif %}
    </div>

    <div class="deployment-log-table-wrapper">
      {{ logs_table }}
    </div>

    {% if pager %}
      <div class="deployment-log-pager-wrapper">
        {{ pager }}
      </div>
    {% endif %}
  </div>
</div>
